<%- include("header") -%>
<h2>This is About us Page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis totam ab voluptates repellat voluptas, quae
    quam magnam laborum rerum aperiam saepe neque illum id repudiandae quos non amet nulla necessitatibus.
    Neque ullam nulla exercitationem blanditiis possimus laboriosam corporis eum ab mollitia? Molestias possimus,
    quaerat non eveniet quos quae optio, culpa consequuntur, eligendi voluptate nam! Eos saepe officia fugiat asperiores
    ipsum?
    Aut veritatis corrupti aliquam a officia harum culpa, ea laborum autem nisi non error suscipit, maxime blanditiis
    mollitia voluptatibus nulla magni quaerat, earum quasi tempora omnis? Maiores dolore ipsa repellendus.</p>